<form action="/url" method="POST" class="mt-5">
  <div class="mt-5 d-flex flex-column align-items-center">
    <input type="text" placeholder="Input URL here" name="url" style="display: block; width: 500px;">
    <button class="btn btn-outline-primary mt-3" type="submit">Shorten</button>
  </div>
</form>