<div class="mt-5 d-flex flex-column align-items-center">
  <h4>Success! Please use this link:</h4>
  <a href="{{url}}" id="shortened-url">{{newUrl}}</a>
  <button class="copy" onclick="copy()">Copy</button>
  <a href="/">Back</a>
</div>

<script>
  function copy() {
    const URL = document.getElementById("shortened-url")
    navigator.clipboard.writeText(URL.innerText)
      .then(() => alert('copied'))
      .catch(error => console.log(error))
  }
</script>